
  .container {
    text-align: center;
    width: 90vw;
    align-self: center;
  }

 
   .taskBg {
    margin-top: 3vh;
    margin-bottom: 4vh;
    margin-left: 11vw;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
    border-bottom: solid;
    border-radius: 7px;
    border-color: rgb(154, 149, 149);
    background-color:hwb(60 78% 21%);
    width: 60vw;
  }


  
  .taskBg div {
    display: flex;
    align-items: center;
  }
  
  .taskNumber {
    color: #999;
    width: 5vw;
    height: 3vh;
    display: flex;
    text-align: center;
    margin-right: 3vw;
    align-items: center;
    justify-content: center;
  }
  
  .taskBg .taskText {
    flex: 1;
  }
  
  .taskBg .done .taskText {
    text-decoration: line-through;
    opacity: 0.3;
  }
  
  .taskBg .iconsWrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3vw;
    width: auto;
    display: inline-block;
  }
  
  .taskBg .iconsWrap span {
    display: inline-block;
    margin: 0px 2vh 0 2vh;
    cursor: pointer;
  }
  
  
  .mr-20 {
    margin-right: 4vw;
  } 
